<!-- cart with products -->

 <div class="container border mt-5 mb-5 p-5" *ngIf="allCart.length!==0">
    <div class="row">
        <div class="col">
            <!-- table -->
            <table  class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>No.</th>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let cart of allCart">
                    <td>{{cart.id}}</td>
                    <td>{{cart.title}}</td>
                    <td>
                        <img width="100%" [src]="cart.image" alt="">
                    </td>
                    <td>
                       <div class="d-flex">
                        <button (click)=" incrementCartProduct(cart.id)" class="btn">+</button>
                        <input type="text" class="form-control" readonly [value]="cart.quantity">
                        <button (click)="decrementCartProduct(cart.id)" class="btn">-</button>
                       </div>
                    </td>
                    <td>${{cart.price}}</td>
                    <td>
                        <button (click)="deleteCartItem(cart.id)" class="btn">
                            <i class="fa-solid fa-trash  text-danger" ></i>                          
                        </button>
                    </td>
                 </tr>
                </tbody>
              </table>
        </div>
        <div class="col border p-5 shadow ms-2">
            <!-- summary -->
            <h2 class="text-center">Product Bill</h2>
            <h3>Price : ${{cartTotalPrice}}</h3>
            <h3>Discount : 20%</h3>

            <h1>Grand Total : ${{cartTotalPrice}}</h1>

            <div class="text-center">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Check Out</button>
            </div>
   
        </div>
    </div>
 </div>

 <!-- checkout details entry -->
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Check Out Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
        <form *ngIf="!proceedToPaymentStatus" [formGroup]="addressForm" (ngSubmit)="submitForm()">
           <h3 class="text-center m-3"> Enter Delivery Details</h3>
                <div class=" form-floating mb-3">
                  <input formControlName="name" required name="name" class="form-control" placeholder="name">
                  <label> Name </label>
                </div>
                <div class=" form-floating mb-3">
                    <input formControlName="houseNumber" required houseNumber="houseNumber" type="text" class="form-control" placeholder="house number">
                    <label> House Number </label>
                  </div>
                  <div class=" form-floating mb-3">
                    <input formControlName="streetName" required streetName="streetName" type="text" class="form-control" placeholder="street name">
                    <label> Street Name </label>
                  </div>
                  <div class=" form-floating mb-3">
                    <input formControlName="state" required state="state" type="text" class="form-control" placeholder="state">
                    <label> State </label>
                  </div>
                  <div class=" form-floating mb-3">
                    <input formControlName="pinNumber" required pinNumber="pinNumber" type="text" class="form-control" placeholder="pincode">
                    <label> Pincode </label>
                  </div>
                  <div class=" form-floating mb-3">
                    <input formControlName="MobileNumber" required MobileNumber="MobileNumber" type="text" class="form-control" placeholder="mobile number">
                    <label> Mobile Number </label>
                  </div>

                  <div>
                    <h2>Total Price : ${{cartTotalPrice}}</h2>
                  </div>
                 
                          <!-- offers -->
                        <div *ngIf="!discountStatus">
                        <h5 class="btn" (click)="offerClicked()"><h4>Offers <i class="fa-solid fa-tag"></i></h4></h5>
                        </div>

                        <!-- discounts -->
                        <div *ngIf="offerclick && !discountStatus"> 
                          <!-- 10% off -->
                          <img width="100px" (click)="discountCalculate(10)" *ngIf="cartTotalPrice<=100" src="https://th.bing.com/th/id/R.2477aee526cce9bb54823f8d859f28e3?rik=Dtbw0nGZ%2fktVuA&riu=http%3a%2f%2fwww.discountspout.com%2fimages%2fcoupons%2fcoupon_3950.jpg&ehk=WSOwINeAOXWRi7JIg62DREiQ0eELynquuRmHhEm5xZo%3d&risl=&pid=ImgRaw&r=0" alt="">
                           <!-- 30% off -->
                           <img width="100px" (click)="discountCalculate(30)" *ngIf="cartTotalPrice>100 && cartTotalPrice<=500" src="https://static.vecteezy.com/system/resources/thumbnails/002/331/965/small_2x/30-percent-off-sale-tag-sale-of-special-offers-discount-with-the-price-is-30-percent-vector.jpg" alt="">
                            <!-- 50% off -->
                          <img width="100px" (click)="discountCalculate(50)" *ngIf="cartTotalPrice>500 && cartTotalPrice<=1000"  src="https://media.istockphoto.com/photos/render-red-text-50-percent-discount-picture-id906554518?k=6&m=906554518&s=170667a&w=0&h=BnCZZkJfMVMURTu0TYfriI3nkQVroSybYRHuq25ZUzo=" alt="">
                        </div>

                 
                  <div class="text-center mb-3">
                    <button class="btn btn-success">Proceed To Payment</button>
                  </div>
                
        </form>



        <!--payment page after form has been submitted -->
        <div *ngIf="proceedToPaymentStatus">
            <h6>Deliver Address Details</h6>
            <p>{{name}}</p>
            <p>{{houseNumber}}</p>
            <p>{{streetName}}</p>
            <p>{{state}}</p>
            <p>{{pincode}}</p>
            <p>{{mobileNumber}}</p>
            <div class="text-center mb-3" *ngIf="!showPaypalButton">
              <button (click)="makePay()"  class="btn btn-success">Proceed To Payment</button>
            </div>

            <div *ngIf="showPaypalButton">
              <!-- paypal payment page -->
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
        </div>

        </div>
       
      </div>
    </div>
  </div>

<!-- empty cart  -->
<div *ngIf="allCart.length==0" class="container text-center p-5" >
    <h1>Your cart is Empty .... 🤷‍♂️🤷‍♂️🤷‍♂️</h1>
    <img width="500px" src="https://media0.giphy.com/media/jtECu4KjK3cqiAUMyR/source.gif" alt="">
    <div class="mt-5">
    <button routerLink="" class="btn btn-outline-dark">Shop More</button>
</div>
</div>

